<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Sobre
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item lines="full">
    <ion-avatar slot="start">
      <img src="assets/foto.jpg">
    </ion-avatar>
    <ion-label >
      <div>
        <h2>Jônatas Jordão</h2>
        <p>Aluno na Etec "Cidade Do Livro"</p>
        <p>Lençois Paulista-SP</p>
        <p>(14) 99703-4613</p>
        <p>
          <a href="mailto:jonatas.oliveira59@etec.sp.gov.br">
            jonatas.oliveira59@etec.sp.gov.br
          </a>
        </p>
        </div>
    </ion-label>
  </ion-item>

  <div class="ion-text-center">
    <img src="https://assets.pokemon.com/static2/br/img/icons/tcgo_logo.png">

  </div>

  <ion-item lines="full">
    <ion-label> Versão </ion-label>
    <ion-badge color="tertiary">0.1</ion-badge>
  </ion-item>

  <ion-item lines="full">
    <ion-label> Ano </ion-label>
    <ion-badge color="tertiary">2021</ion-badge>
  </ion-item>

  <ion-item lines="full">
    <ion-label> Turma </ion-label>
    <ion-badge color="tertiary">B</ion-badge>
  </ion-item>

</ion-content>